#column ul {
	width: auto;
	margin: 0 0px;
	display: flex;
	flex-wrap: wrap;
    list-style:none;
    
}

#column li {
	padding: 0 10px 0px;
    float: left;
    
}

#column li a,
#column li a:visited {
	text-decoration: none;
	color: #111111;
}

#column li p {
	font-size: 90%;
	margin-bottom: 3px;
    
}

#column li span {
	font-size: 100%;
	display: block;
}

.column02 li {
	width: calc(50% - 5px);
}
  
li{
    list-style:none;
}

    
.main{
    display: flex;
    flex-wrap: wrap;
}

h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}
    
.kakomi{
    background: rgba(255, 238, 212, 0.36);
    border-radius: 5px;
    padding: 5px 15px 5px;
}

.title1{
    color: rgb(52, 57, 66);
    width: auto;
}


.title2{
    color: rgb(252, 6, 6);
    width: auto;
}

.textcss001{
    color: rgb(52, 57, 66);
    font-weight: 900;
    width: auto;
}

.textcss002{
    color: rgb(254, 3, 3);
    font-weight: 900;
    width: auto;
}



.progBar{
    width: auto;
    height: 25px;
    background-color:#eae9e9;
    position:relative;
    border-radius:5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar{
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 700;

}


.progBar .bar{
    position:absolute;
    height: 100%;
    background-color:#ffa600;
    animation: progress 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress {
    0% {width: 0}
    100% {width: 80%}
}

.progBar_finished{
    width: auto;
    height: 25px;
    background-color:#eae9e9;
    position:relative;
    border-radius:5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar_finished{
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 700;
}

.progBar_finished .bar_finished{
    position:absolute;
    animation-name: progress_finished;
    height: 100%;
    background-color:#ffa600;
    animation:progress_finished 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress_finished {
    0% {width: 0}
    100% {width: 100%}
}

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    } 

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
 }

.inline-block li{
    width: auto;
    float: left;

}

.btn {
    width: 70%;
    background: #ba874de6;
    padding: 3%;
    }

.btn p {
    color: #fff;
}

/*レイアウト確認用*/
