#column ul {
	width: 100%;
    height: auto;
	display: flex;
	flex-wrap: wrap;
    list-style:none;
    margin: 2%;
    padding: 3%;

}

.column02 li {
	width: calc(50% - 5px);
}

h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}
    
.kakomi{
    background: rgba(255, 238, 212, 0.36);
    border-radius: 5px;
    padding: 5px 15px 5px;
}


.progBar{
    width: 100%;
    height: 25px;
    background-color:#eae9e9;
    position:relative;
    border-radius:5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar{
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 700;

}


.progBar .bar{
    position:absolute;
    height: 100%;
    background-color:#ffa600;
    animation: progress 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress {
    0% {width: 0}
    100% {width: 80%}
}

.progBar_finished{
    width: auto;
    height: 25px;
    background-color:#eae9e9;
    position:relative;
    border-radius:5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar_finished{
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 700;
}

.progBar_finished .bar_finished{
    position:absolute;
    animation-name: progress_finished;
    height: 100%;
    background-color:#ffa600;
    animation:progress_finished 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress_finished {
    0% {width: 0}
    100% {width: 100%}
}

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    } 

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
 }

.project-block li{
    width: auto;
    float: left;
}

.btn {
    width: 70%;
    background: #ba874de6;
    padding: 2%;
    font-size: 1.5rem;
    }

.btn p {
    color: #fff;
}

.btn:hover {
    transform: translateY(2px);
}
      
.btn:active {
    transform: translateY(5px);
}




/*レイアウト確認用*/
dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
 
.container dd {
    /* インライン要素に変更すれば横並びにできる */
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    width: auto;
    margin: 0% 6% 0% 6%;    
}

.fund_goal{
    color: #f61f1f;
}

.fund_item{
    text-align: left;
    font-size: 1.5vw;
}

.fund_number{
    font-size: 3.5vw;
}

.title{
    font-size: 1.5vw;

    margin-right: 6%;
}